<div class="w-8/12 mx-auto flex flex-col h-full gap-10 px-1">
    <p class="text-7xl font-medium">Profile</p>
    <div class="w-full flex gap-8">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"
            class="flex flex-col justify-between gap-5 overflow-x-hidden w-3/5 px-4 overflow-y-auto mt-2 py-10 h-full min-h-[75vh]">
            <div class="flex flex-col items-center gap-4 w-full">
                <!-- First Name Field -->
                <div class="flex flex-col mb-3 w-full">
                    <div class="flex flex-col gap-2">
                        <p class="text-lg">First Name</p>
                        <input id="name" type="text" formControlName="name" [class.is-invalid]="isFieldInvalid('name')"
                            class="placeholder:font-light placeholder:text-xs focus:outline-none border-2 border-gray-800 p-2 rounded-md"
                            placeholder="Enter your first name" autocomplete="off">
                    </div>
                    <div *ngIf="isFieldInvalid('name')" class="text-red-600 text-xs pl-3">
                        <span *ngIf="profileForm.get('name')?.errors?.['required']">
                            First name is required
                        </span>
                        <span *ngIf="profileForm.get('name')?.errors?.['minlength']">
                            First name must be at least 2 characters
                        </span>
                        <span *ngIf="profileForm.get('name')?.errors?.['maxlength']">
                            First name must be no more than 32 characters
                        </span>
                    </div>
                </div>

                <!-- Last Name Field -->
                <div class="flex flex-col mb-3 w-full">
                    <div class="flex flex-col gap-2">
                        <p class="text-lg">Last Name</p>
                        <input id="last_name" type="text" formControlName="last_name" [class.is-invalid]="isFieldInvalid('last_name')"
                            class="placeholder:font-light placeholder:text-xs focus:outline-none border-2 border-gray-800 p-2 rounded-md"
                            placeholder="Enter your last name" autocomplete="off">
                    </div>
                    <div *ngIf="isFieldInvalid('last_name')" class="text-red-600 text-xs pl-3">
                        <span *ngIf="profileForm.get('last_name')?.errors?.['required']">
                            Last name is required
                        </span>
                        <span *ngIf="profileForm.get('last_name')?.errors?.['minlength']">
                            Last name must be at least 2 characters
                        </span>
                        <span *ngIf="profileForm.get('last_name')?.errors?.['maxlength']">
                            Last name must be no more than 32 characters
                        </span>
                    </div>
                </div>

                <!-- Email Field -->
                <div class="flex flex-col mb-3 w-full">
                    <div class="flex flex-col gap-2">
                        <p class="text-lg">Email</p>
                        <input id="email" type="email" formControlName="email" [class.is-invalid]="isFieldInvalid('email')"
                            class="placeholder:font-light placeholder:text-xs focus:outline-none border-2 border-gray-800 p-2 rounded-md"
                            placeholder="Enter your email" autocomplete="off">
                    </div>
                    <div *ngIf="isFieldInvalid('email')" class="text-red-600 text-xs pl-3">
                        <span *ngIf="profileForm.get('email')?.errors?.['required']">
                            Email is required
                        </span>
                        <span *ngIf="profileForm.get('email')?.errors?.['email']">
                            Please enter a valid email address
                        </span>
                        <span *ngIf="profileForm.get('email')?.errors?.['minlength']">
                            Email must be at least 8 characters
                        </span>
                        <span *ngIf="profileForm.get('email')?.errors?.['maxlength']">
                            Email must be no more than 32 characters
                        </span>
                    </div>
                </div>

                <!-- Address Field -->
                <div class="flex flex-col mb-3 w-full">
                    <div class="flex flex-col gap-2">
                        <p class="text-lg">Address</p>
                        <input id="address" type="text" formControlName="address" [class.is-invalid]="isFieldInvalid('address')"
                            class="placeholder:font-light placeholder:text-xs focus:outline-none border-2 border-gray-800 p-2 rounded-md"
                            placeholder="Enter your address" autocomplete="off">
                    </div>
                    <div *ngIf="isFieldInvalid('address')" class="text-red-600 text-xs pl-3">
                        <span *ngIf="profileForm.get('address')?.errors?.['required']">
                            Address is required
                        </span>
                        <span *ngIf="profileForm.get('address')?.errors?.['minlength']">
                            Address must be at least 8 characters
                        </span>
                        <span *ngIf="profileForm.get('address')?.errors?.['maxlength']">
                            Address must be no more than 64 characters
                        </span>
                    </div>
                </div>

                <!-- Phone Number Field -->
                <div class="flex flex-col mb-3 w-full">
                    <div class="flex flex-col gap-2">
                        <p class="text-lg">Phone Number</p>
                        <input id="phone_number" type="text" formControlName="phone_number" [class.is-invalid]="isFieldInvalid('phone_number')"
                            class="placeholder:font-light placeholder:text-xs focus:outline-none border-2 border-gray-800 p-2 rounded-md"
                            placeholder="Enter your phone number" autocomplete="off">
                    </div>
                    <div *ngIf="isFieldInvalid('phone_number')" class="text-red-600 text-xs pl-3">
                        <span *ngIf="profileForm.get('phone_number')?.errors?.['required']">
                            Phone number is required
                        </span>
                        <span *ngIf="profileForm.get('phone_number')?.errors?.['pattern']">
                            Phone number must be numeric and contain 8 to 15 digits
                        </span>
                    </div>
                </div>

                <!-- Birth Date Field -->
                <div class="flex flex-col mb-3 w-full">
                    <div class="flex flex-col gap-2">
                        <p class="text-lg">Birth Date</p>
                        <input id="birth_date" type="date" formControlName="birth_date" [class.is-invalid]="isFieldInvalid('birth_date')"
                            class="placeholder:font-light placeholder:text-xs focus:outline-none border-2 border-gray-800 p-2 rounded-md"
                            placeholder="Select your birth date" autocomplete="off">
                    </div>
                    <div *ngIf="isFieldInvalid('birth_date')" class="text-red-600 text-xs pl-3">
                        <span *ngIf="profileForm.get('birth_date')?.errors?.['required']">
                            Birth date is required
                        </span>
                    </div>
                </div>
            </div>
            <button *ngIf="loading$ | async" type="button"
                class="flex cursor-not-allowed items-center justify-center shadow-sm rounded-md bg-black py-3 px-2 leading-6 font-semibold text-white transition duration-150 ease-in-out w-full"
                disabled="">
                <svg class="mr-3 -ml-1 size-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>Processing…</button>
            <button *ngIf="!(loading$ | async)" type="submit"
                class="w-full cursor-pointer rounded-md shadow-sm text-white font-medium bg-black py-3 px-2 transition-all duration-200 hover:bg-gray-950 hover:shadow-md">
                Update
            </button>
        </form>
        <div class="flex flex-col gap-5 w-2/4 mt-10">
            <p class="text-xl font-medium">Advanced:</p>
            <button (click)="deleteAccount()"
                class="w-full cursor-pointer rounded-md shadow-sm text-white font-medium bg-red-600 py-3 px-2 transition-all duration-200 hover:bg-gray-950 hover:shadow-md">
                Delete Account
            </button>
        </div>
    </div>

</div>