<div class="fixed w-full h-full top-0 left-0 items-center flex flex-col gap-5 justify-center z-50 task-popup-background">
    <p class="text-5xl font-medium">Welcome to <span class="text-green-500">Zero</span>Waste</p>
    <div class="bg-white w-11/12 md:w-7/12 h-fit shadow-xl flex flex-col items-center overflow-hidden rounded-md md:h-fit login-form-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
            class="flex flex-col items-center justify-between gap-5 px-[5%] w-[96%] sm:w-[98%] md:w-[97%] lg:w-[98.5%] mx-auto overflow-x-hidden overflow-y-auto mt-2 py-10">
            <div class="flex flex-col items-center gap-4 w-full">
                <div class="flex flex-col mb-3 w-full">
                    <div class="flex flex-col border-2 border-[#A1A1A1] p-2 rounded-md">
                        <p class="text-xs">Username</p>
                        <input id="username" type="text" formControlName="username" [class.is-invalid]="isFieldInvalid('username')"
                            class="placeholder:font-light placeholder:text-xs focus:outline-none" placeholder="Enter your username" autocomplete="off">
                    </div>
                    <div *ngIf="isFieldInvalid('username')" class="text-red-600 text-xs pl-3">
                        <span *ngIf="loginForm.get('username')?.errors?.['required']">
                            Username is required
                        </span>
                        <span *ngIf="loginForm.get('username')?.errors?.['minlength']">
                            Username must be at least 4 characters
                        </span>
                        <span *ngIf="loginForm.get('username')?.errors?.['maxlength']">
                            Username must be no more than 32 characters
                        </span>
                    </div>
                </div>

                <div class="flex flex-col mb-3 w-full">
                    <div class="flex flex-col border-2 border-[#A1A1A1] p-2 rounded-md">
                        <p class="text-xs">Password</p>
                        <input id="password" type="password" formControlName="password" [class.is-invalid]="isFieldInvalid('password')"
                            class="placeholder:font-light placeholder:text-xs focus:outline-none" placeholder="Enter your password" autocomplete="off">
                    </div>
                    <div *ngIf="isFieldInvalid('password')" class="text-red-600 text-xs pl-3">
                        <span *ngIf="loginForm.get('password')?.errors?.['required']">
                            Password is required
                        </span>
                        <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
                            Password must be at least 8 characters
                        </span>
                        <span *ngIf="loginForm.get('password')?.errors?.['maxlength']">
                            Password must be no more than 32 characters
                        </span>
                    </div>
                </div>
            </div>

            <p class="text-center text-sm text-gray-600 self-end">
                Don't have an account?
                <a routerLink="/auth/register" class="underline hover:text-blue-800">Register here</a>
            </p>

            <div *ngIf="(status$ | async) !== 'success' && (status$ | async) !== null" class="p-4 bg-red-600/80 w-full">
                <p class="text-white"> {{status$ | async}} </p>
            </div>

            <button *ngIf="loading$ | async" type="button"
                class="flex cursor-not-allowed items-center justify-center shadow-sm rounded-md bg-black py-3 px-2 leading-6 font-semibold text-white transition duration-150 ease-in-out w-full"
                disabled="">
                <svg class="mr-3 -ml-1 size-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>Processing…</button>
            <button *ngIf="!(loading$ | async)" type="submit"
                class="w-full cursor-pointer rounded-md shadow-sm text-white font-medium bg-black py-3 px-2 transition-all duration-200 hover:bg-gray-950 hover:shadow-md">
                Login
            </button>
        </form>
    </div>
</div>